section.section.section-history
	.wrapper-decor-img.wrapper-decor-img_history.wrapper
		.history-decor.decor-img(data-aos="zoom-in" data-aos-delay="300")
	.wrapper.wrapper-history
		h2.h2-title.h2-title_history !{aboutHistoryText.h2[lang]}
		.history-wrapper
				.history-list__item(data-aos="fade-in" data-aos-delay="300")
					.year.h3-title 2018
					h3.h3-title.history-list__title !{aboutHistoryText.year1.title[lang]}
					p.history-list__text !{aboutHistoryText.year1.text[lang]}
				.history-list__item(data-aos="fade-in" data-aos-delay="450")
					.year.h3-title 2019
					h3.h3-title.history-list__title !{aboutHistoryText.year2.title[lang]}
					p.history-list__text !{aboutHistoryText.year2.text[lang]}
				.history-list__item(data-aos="fade-in" data-aos-delay="600")
					.year.h3-title 2020
					h3.h3-title.history-list__title !{aboutHistoryText.year3.title[lang]}
					p.history-list__text !{aboutHistoryText.year3.text[lang]}
				.history-list__item(data-aos="fade-in" data-aos-delay="750")
					.year.h3-title 2021
					h3.h3-title.history-list__title !{aboutHistoryText.year4.title[lang]}
					p.history-list__text !{aboutHistoryText.year4.text[lang]}
