section.section.section-markets
	.wrapper.wrapper_markets-list
		.decor-img.decor-img_markets-list-1(data-aos="zoom-in" data-aos-delay="300")
		.decor-img.decor-img_markets-list-2(data-aos="zoom-in" data-aos-delay="300")
		.markets-list__item.markets-list__item-1(data-aos="fade-in" data-aos-delay="300")
				.markets-img-wrapper.block-with-decor
					img( src=baseDir + "assets/images/markets-list-item-1_1x.jpg" srcset=baseDir + "assets/images/markets-list-item-1_1x.jpg 1x, " + baseDir + "assets/images/markets-list-item-1_2x.jpg 2x" alt="markets-list-item")
				.markets-content-wrapper
					h2.left.markets-list__title.h2-title !{marketsListText.market1.title[lang]}
					p.markets-list__text.big-text !{marketsListText.market1.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list !{buttonText.btnStartTrade[lang]}
						a(href="currencies.html").btn.btn_white !{buttonText.btnLearMore[lang]}
		.markets-list__item.markets-list__item-2(data-aos="fade-in" data-aos-delay="300")
				.markets-img-wrapper.block-with-decor
					img( src=baseDir + "assets/images/markets-list-item-2_1x.jpg" srcset=baseDir + "assets/images/markets-list-item-2_1x.jpg 1x, " + baseDir + "assets/images/markets-list-item-2_2x.jpg 2x" alt="markets-list-item")
				.markets-content-wrapper
					h2.left.markets-list__title.h2-title !{marketsListText.market2.title[lang]}
					p.markets-list__text.big-text !{marketsListText.market2.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list !{buttonText.btnStartTrade[lang]}
						a(href="metals.html").btn.btn_white !{buttonText.btnLearMore[lang]}
		.markets-list__item.markets-list__item-3(data-aos="fade-in" data-aos-delay="300")
				.markets-img-wrapper.block-with-decor
					img( src=baseDir + "assets/images/markets-list-item-3_1x.jpg" srcset=baseDir + "assets/images/markets-list-item-3_1x.jpg 1x, " + baseDir + "assets/images/markets-list-item-3_2x.jpg 2x" alt="markets-list-item")
				.markets-content-wrapper
					h2.left.markets-list__title.h2-title !{marketsListText.market3.title[lang]}
					p.markets-list__text.big-text !{marketsListText.market3.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list !{buttonText.btnStartTrade[lang]}
						a(href="stocks.html").btn.btn_white !{buttonText.btnLearMore[lang]}
		.markets-list__item.markets-list__item-4(data-aos="fade-in" data-aos-delay="300")
				.markets-img-wrapper.block-with-decor
					img( src=baseDir + "assets/images/markets-list-item-4_1x.jpg" srcset=baseDir + "assets/images/markets-list-item-4_1x.jpg 1x, " + baseDir + "assets/images/markets-list-item-4_2x.jpg 2x" alt="markets-list-item")
				.markets-content-wrapper
					h2.left.markets-list__title.h2-title !{marketsListText.market4.title[lang]}
					p.markets-list__text.big-text !{marketsListText.market4.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list !{buttonText.btnStartTrade[lang]}
						a(href="commodities.html").btn.btn_white !{buttonText.btnLearMore[lang]}
		.markets-list__item.markets-list__item-5(data-aos="fade-in" data-aos-delay="300")
				.markets-img-wrapper.block-with-decor
					img( src=baseDir + "assets/images/markets-list-item-5_1x.jpg" srcset=baseDir + "assets/images/markets-list-item-5_1x.jpg 1x, " + baseDir + "assets/images/markets-list-item-5_2x.jpg 2x" alt="markets-list-item")
				.markets-content-wrapper
					h2.left.markets-list__title.h2-title !{marketsListText.market5.title[lang]}
					p.markets-list__text.big-text !{marketsListText.market5.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list !{buttonText.btnStartTrade[lang]}
						a(href="indices.html").btn.btn_white !{buttonText.btnLearMore[lang]}
		.markets-list__item.markets-list__item-6(data-aos="fade-in" data-aos-delay="300")
				.markets-img-wrapper.block-with-decor
					img( src=baseDir + "assets/images/markets-list-item-6_1x.jpg" srcset=baseDir + "assets/images/markets-list-item-6_1x.jpg 1x, " + baseDir + "assets/images/markets-list-item-6_2x.jpg 2x" alt="markets-list-item")
				.markets-content-wrapper
					h2.left.markets-list__title.h2-title !{marketsListText.market6.title[lang]}
					p.markets-list__text.big-text !{marketsListText.market6.text[lang]}
					.markets-list__btns
						a(href=linkSignup).btn.btn-markets-list !{buttonText.btnStartTrade[lang]}
						a(href="cryptocurrencies.html").btn.btn_white !{buttonText.btnLearMore[lang]}
