section.section.section-benefits
	.benefits-decor.decor-img(data-aos="zoom-in" data-aos-delay="300")
	.wrapper-parallax.scene
		.parallax-item.parallax-item-benefits-1(data-depth="0.05")
		.parallax-item.parallax-item-benefits-2(data-depth="0.03")
	.wrapper.wrapper-benefits
		h2.h2-title.h2-title_benefits !{indexBenefitsText.h2[lang]}
		.benefits-content-wrapper
			.benefits-img.block-with-decor
				img(data-aos="zoom-in" data-aos-delay="300" src=baseDir + "assets/images/benefits_1x.jpg" srcset=baseDir + "assets/images/benefits_1x.jpg 1x, " + baseDir + "assets/images/benefits_2x.jpg 2x" alt="benefits")
			.benefits-list
				.benefits-list-item.benefits-list-item_1(data-aos="fade-in" data-aos-delay="300")
					h3.benefits-list__title.h3-title !{indexBenefitsText.benefit1.title[lang]}
					p.benefits-list__text !{indexBenefitsText.benefit1.text[lang]}
				.benefits-list-item.benefits-list-item_2(data-aos="fade-in" data-aos-delay="450")
					h3.benefits-list__title.h3-title !{indexBenefitsText.benefit2.title[lang]}
					p.benefits-list__text !{indexBenefitsText.benefit2.text[lang]}
				.benefits-list-item.benefits-list-item_3(data-aos="fade-in" data-aos-delay="600")
					h3.benefits-list__title.h3-title !{indexBenefitsText.benefit3.title[lang]}
					p.benefits-list__text !{indexBenefitsText.benefit3.text[lang]}
				.benefits-list-item.benefits-list-item_4(data-aos="fade-in" data-aos-delay="750")
					h3.benefits-list__title.h3-title !{indexBenefitsText.benefit4.title[lang]}
					p.benefits-list__text !{indexBenefitsText.benefit4.text[lang]}
